html, body {
  height: 100%;

}
.hide {
    display: none !important;
}
.red {
    color: red;
}
.row {
    background-color: lightgray;
    margin: 5px;
}
.nested {
    border: 1px solid black;
    border-radius: 50%;
}
